  <h1 class="text-center">New Game</h1>
  <h2 class="text-center">Your score: <%= session[:score] %></h2>
<div class="container">
  <div class="letters">
    <br>
    <br>
    <br>
    <br>
    <% @letters.each do |letter| %>
      <div class="letter"><%= letter.capitalize %></div>
    <% end %>
  </div>
  <div class="text-center">
    <p>What's the longest word you can find?</p>
    <form action="/score" method="post" class="form-inline">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :letters, @letters %>
      <div class="form-group mx-sm-3 mb-2">
        <input type="text" name="word" placeholder="Your try">
      </div>
      <button type="submit" class="btn btn-primary mb-2">Play</button>
    </form>
  </div>
</div>
